@use "../../styles/variables" as *;

.back__btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: $color-accent-blue;
  border: 1px solid $color-border;
  border-radius: $radius-button;
  color: $color-text-primary;
  font-size: 14px;
  cursor: pointer;
  transition: $transition-default;
  margin: 0 0 20px;

  &:hover {
    background-color: $color-accent-blue-hover;
    border-color: $color-text-secondary;
  }

  &:active {
    transform: scale(0.96);
  }

  svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }
  &-text {
    font-weight: 500;
  }
}
